body {
  font: 16px/1.5 'Open Sans', verdana, helvetica-neue, helvetica, arial, san-serif;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}
p {
  margin: 10px 0 20px 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#main {
  width: 960px;
  margin: 0 auto;
}
header {
  padding: 130px 0 10px 0;
  overflow: hidden;
  color: white;
  background-color: skyblue;
}
footer {
  height: 400px;
}
h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 60px;
  width: 960px;
  margin: 0 auto;
  padding: 0 0 10px 10px;
}
/* h3 { */
/*   margin-top: 20px; */
/* } */
.content {
  padding: 10px;
}
footer {
  font-size: 0.65em;
  text-align: center;
}
iframe {
  border: none;
  width: 100%;
  height: 800px;
}
.ss-form {
  margin-top: 10px;
}
.ss-required-asterisk {
  color: darkred;
}
#posts li {
  list-style-type: none;
  clear: both;
}
.medium-img {
  margin: 0 auto 10px auto;
  display: block;
}
img {
  max-width: none;
}

#posts li,
#crew_list li,
#the_trip li,
#links li,
#stats li {
  list-style-type: none;
  clear: both;
  border: 1px solid #d4d4d4;
  background-color: white;
  padding: 20px;
  margin: 10px 0 10px;
  border-radius: 4px;
}

object {
  position: absolute;
  right: 25%;
  top: -40px;
  -webkit-transform: rotate(-15deg)
                     scale(0.6,0.6);
  -ms-transform: rotate(-15deg)
                 scale(0.6,0.6);
  transform: rotate(-15deg)
             scale(0.6,0.6);
  opacity: 0.5;
}
